<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/dashboard_app.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
</head>
<body>
    <div class="px-4 py-5 my-5 text-center">
    <h1>Selamat Datang di Dashboard MQTT</h1>
    <button class="btn btn-primary" onclick="sendMqttMessage(1)">Speaker 1</button>
    <button class="btn btn-secondary" onclick="sendMqttMessage(2)">Speaker 2</button>
    <button class="btn btn-success" onclick="sendMqttMessage(3)">Speaker 3</button>
    <button class="btn btn-danger" onclick="sendMqttMessage(4)">Speaker 4</button>
    <button class="btn btn-warning" onclick="sendMqttMessage(5)">Speaker 5</button>
    <button class="btn btn-info" onclick="sendMqttMessage(6)">Speaker 6</button>
    </div>

<script>
    function sendMqttMessage(speakerNumber) {
        // memanggil endpoint Django
        fetch(`/send/?speaker=${speakerNumber}`)
            .then(response => response.json())
            .then(data => console.log(data));
    }
</script>

</body>
</html>